/* Lime Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #32cc92;
  --primary-hover: #83FDCF;
  --primary-focus: rgba(192, 202, 51, 0.125);
  --primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Lime Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #32cc92;
    --primary-hover: #83FDCF;
    --primary-focus: rgba(192, 202, 51, 0.25);
    --primary-inverse: rgba(0, 0, 0, 0.75);
  }
}

/* Lime Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #32cc92;
  --primary-hover: #83FDCF;
  --primary-focus: rgba(192, 202, 51, 0.25);
  --primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Lime (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}