{
    "env": {
        "webextensions": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "overrides": [
        {
            "files": "**/*.+(ts|tsx|js|jsx|vue)",
            "parser": "vue-eslint-parser",
            "parserOptions": {
                "parser": "@babel/eslint-parser",
                "babelOptions": {
                    "configFile": "./babel.config.js"
                }
            },
            "extends": [
                // 'eslint:recommended',
                "plugin:vue/vue3-recommended",
                "airbnb-base",
                "prettier"
            ],
            "plugins": [
                "prettier"
            ],
            "rules": {
                // Enable Prettier rules from .prettierrc.js
                "prettier/prettier": [
                    "error"
                ],
                // **********
                // *** Plain JavaScript
                // **********
                // Sorting imported files
                "sort-imports": [
                    "error",
                    {
                        "ignoreCase": true,
                        "ignoreDeclarationSort": true,
                        "ignoreMemberSort": false,
                        "memberSyntaxSortOrder": [
                            "none",
                            "all",
                            "single",
                            "multiple"
                        ]
                    }
                ],
                // (A -> B -> A) imports - may occure in ducks, sagas, etc
                "import/no-cycle": 0,
                // Be able to declare variables even if you have the other vars with the same name in upper scope(useful for Redux action creators)
                "no-shadow": 0,
                // Disable console.log in code
                "no-console": 0,
                // When there is only a single export from a module, prefer using default export over named export.
                // I think we can export some objects withut default export, keping in mind that there will be more export sfrom this file in a future
                "import/prefer-default-export": 0,
                // We not always return a value from saga's
                "consistent-return": 0,
                // We want to enable i++ or i--
                "no-plusplus": 0,
                // May need for some internal variables like __REDUX_DEVTOOLS_EXTENSION__
                "no-underscore-dangle": 0,
                // Sometimes we may need it - like for asyncForEach function
                "no-await-in-loop": 0,
                // We may use dynamic require in Node.js
                "import/no-dynamic-require": 0,
                "global-require": 0,
                // We may have some not-camelCase vars when we receive a response from API
                "camelcase": 0,
                "import/extensions": 0,
                // $FixMe: Temporary disable some rules causing errors
                "class-methods-use-this": 0,
                "no-param-reassign": 0,
                "max-classes-per-file": 0,
                "no-restricted-syntax": 0,
                "no-alert": 0,
                "no-promise-executor-return": 0,
                "no-restricted-globals": 0,
                "vue/require-prop-types": 0
            }
        }
    ],
    "settings": {
        // Absolute paths
        "import/resolver": {
            "alias": {
                "map": [
                    [
                        "@",
                        "./src"
                    ]
                ],
                "extensions": [
                    ".ts",
                    ".tsx",
                    ".js",
                    ".jsx",
                    ".json",
                    ".vue"
                ]
            },
            "node": {
                "paths": "."
            }
        }
    }
}
